pandas
pyarrow
deprecated
SQLAlchemy
pretty_errors
pytz
tqdm
numpy
requests
psycopg2-binary
python-dotenv
boto3
xlrd
openpyxl
duckdb
google-generativeai
apache-airflow[celery]==3.0.0 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-3.0.0/constraints-3.9.txt"
apache-airflow-providers-fab
pendulum